<footer>
  <small>
    This project is based on <a href="https://github.com/danurbanowicz/eleventy-netlify-boilerplate">Eleventy Netlify Boilerplate</a> by <a href="https://www.danurbanowicz.com/">Dan Urbanowicz</a>.
    Check out the <a href="{{ pkg.repository.url }}">Github repo</a>.
  </small>
</footer>
